html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style.css")
        title Tidder
    body
        .header 
            h1 TIDDER
        .text 
            each post in postList
                h2=post.text
                p=post.username
                P=post.post_creation_date        